body {
	padding: 0;
	margin: 0;
}

canvas {
	top:0;
	position:absolute;
}

.CAMPO_DI_BATTAGLIA {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
}

/*
html {
    overflow-y: hidden;
	overflow-x: hidden
}
*/

.navInfo {

    list-style-type: none;
    height: 9%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-image: url("img/tab1.jpg");
}

.INFO {
    float: right;

}

.INFO2 {
    display: block;
    font-size: 1.5vw;
    color: #FFF;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    text-align: center;
    padding: 1.5vw 1.8vw 0.2vw;
    text-decoration: none;
    user-select: none;
}

.navStat {
    background-color: #AF0000;
    position: fixed;
    left: 30%;
    top: 5%;
    z-index: 0;
    background-image: url("img/nav_bianco.jpg");
}

.button {
    float: right;
    display: block;
    font-size: 1vw;
    color: #FFFFFF;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    text-align: center;
    padding: 1.5vw 1vw;
    text-decoration: none;
    user-select: none;
    border: none;
    border-radius: 1vw;
    background-color: #AF0000;
    width: 10%;
    transition: 0.5s;
    cursor: pointer;
    margin: 0.1vw;
}

.button:hover {
    background-color: #4CAF50;
}

.LOGO {
    height: 9vw;
    width: 9vw;
    position: fixed;
    z-index: 1;
    bottom: 5%;
    left: 5%;
    background-image: url("img/logo2.png");
    zoom: 1;
    cursor: pointer;
    transition: 0.5s;
}

.LOGO:hover{
    background-image: url("img/logo3.png");
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.5s;
    /* background-image: url("img/barraRoma.jpg");*/
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 15%;
    background-color: #d3d3d3;
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.5s;
}

.NAV1 {
    border-style: outset;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: 2vw;
    color: #FFFFFF;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    display: block;
    transition: 0.1s;
    user-select: none;
    background-image: url("img/nav_bianco.jpg");
}

.NAV1b {
    border-style: outset;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: 2vw;
    color: #FFFFFF;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    display: block;
    transition: 0.1s;
    user-select: none;
    background-image: url("img/nav_bianco.jpg");
}

.NAV2 {
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: #FFFFFF;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    display: block;
    transition: 0.1s;
    user-select: none;
}

.NAV2b {
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: #000;
    text-shadow: 0.2vw 0.1vw 0.2vw #000;
    display: block;
    transition: 0.1s;
    user-select: none;
}

.NAV2:hover, .offcanvas a:focus{
    color: #f9d800;
}

.NAV2b:hover, .offcanvas a:focus{
    color: #f9d800;
}

.NAV1:hover, .offcanvas a:focus{
    color: #FFFFFF;
    cursor: default;
}

.sidenav2 .closebtn2 {
    position: absolute;
    top: 0;
    right: 1vw;
    font-size: 1.5vw;
    margin-left: 100%;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
    user-select: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1vw;
    font-size: 1.5vw;
    margin-left: 100%;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    user-select: none;
}


table  {
	position: relative;
    border-collapse:collapse;
	text-align: center;
	top: 100%;
    user-select: none;
}

td {
    border:0.1vw solid #000;
    padding:1.5vw;
	font: 1.5vw Arial;
    user-select: none;
}

th { 
    border:0.1vw solid #000;
    padding:1.5vw;
	font: bold 1.5vw Arial;
    user-select: none;
}